$box-shadow: 2px 2px 10px black;
$border-radius: 0.5rem;
$font: 1.3rem;

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

html{
    height: 100%;
    body {
        background: url('./images/background.jpg'), #0077b6;
        background-size: cover;
        background-repeat: no-repeat;
        @include flex-column;
        height: 100%;
      }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    .ul-container{
        @include flex-row;
        width: 100%;
        flex-wrap: wrap;
        list-style: none;
    }
}

.menu {
    @include flex-row;
    width: 90%;
    border-radius: 0rem 0rem $border-radius $border-radius;
    box-shadow: $box-shadow;
    position: absolute;
    top: 0;
    left: auto;
    padding: 0.1rem;
    &--button{
        background: linear-gradient(
          25deg,
          rgba(255, 255, 255, 0.3),
          rgba(0, 0, 255, 0.7)
        );
        text-align: center;
        color: white;
        font-size: $font;
        margin: 0.1rem;
        padding: 0.9rem;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        border: 1px solid transparent;
        text-decoration: none;
    }
    &--button:hover{
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: 1s;
        border: 1px solid red;
    }
}

.right-corner{
    @include flex-row;
    position: absolute;
    right: 0.5rem;
    top: 0;
    span{
        background: linear-gradient(
          25deg,
          rgba(255, 255, 255, 0.3),
          rgba(0, 0, 255, 0.7)
          );
        text-align: center;
        color: white;
        font-size: $font;
        margin: 0.15rem;
        padding: 0.9rem;
        box-shadow: $box-shadow;
        border: 1px solid transparent;
    }
    span:first-child{
        margin-right: 0;
        border-radius: $border-radius 0 0 $border-radius;
    }
    span:last-child{
        border-radius: 0 $border-radius $border-radius 0;
        margin-left: 0;
        padding: 0.09rem;
    }
    span:last-child:hover{
        cursor: pointer;
        transition: 1s;
        border: 1px solid red;
    }
    a img{
        padding: 10px;
        padding-bottom: 0;
        height: 3rem;
        width: auto;
    }
}

.todo-container{
    margin-top: 3rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, auto);
    &__item{
        display: flex;
        height: 5rem;
        width: 20rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        background: #04486a;
        opacity: 80%;
        color: white;
        margin: 0.25rem;
        padding: 0.5rem;
      }
    &__delete{
        border-radius: 50%;
        padding: 1rem;
        box-shadow: $box-shadow;
        background: #04486a;
        overflow: hidden;
        height: 5rem;
        width: 5rem;
        border: 5px solid white;
        transition: 2s;
        &__img{
            transform: rotate(110deg) translate(-60%, -50%);
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            transition: 2s;
          }
      }
    &__delete:hover{
        border: 5px solid black;
        .todo-container__delete__img{
            transform: rotate(0deg) translate(-26%, -26%);
          }
      }
  }

.todo-button{
    margin: 0.5rem;
    form{
      margin-bottom: 1rem
    }
    @include flex-row;
    label span {
      @include flex-row;
      background: url("/static/some_app/images/x.png");
      background-size: cover;
      border: 5px solid black;
      border-radius: 50%;
      box-shadow: $box-shadow;
      height: 5rem;
      width: 5rem;
      animation: k_to_x 2s forwards;
    }
    label input{
      appearance: none;
    }
    label input[type="checkbox"]:checked ~ span{
      background: url("/static/some_app/images/k.png");
      background-size: cover;
      border: 5px solid rgb(255, 255, 255);
      border-radius: 50%;
      box-shadow: $box-shadow;
      height: 5rem;
      width: 5rem;
      animation: x_to_k 2s forwards;
      }
      @keyframes k_to_x {
        0% {
          transform: scale(1);
          background: url("/static/some_app/images/k.png");
        }
        50%{
          background: url("/static/some_app/images/x.png");
          transform: scale(0);
        }
        100%{
          transform: scale(1);
        }
      }
      @keyframes x_to_k {
        0% {
          transform: scale(1);
          background: url("/static/some_app/images/x.png");
        }
        50%{
          background: url("/static/some_app/images/k.png");
          transform: scale(0);
        }
        100%{
          transform: scale(1);
        }
      }
  }
  

.hidden{
    display: none;
    opacity: 0;
    visibility: hidden;
  }

.password-incorrect{
    color: white;
    position: absolute;
    top: 70%;
    width: fit-content;
    background: #04486a;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding: 1rem;
    font-size: $font;
    margin: auto;
    margin-top: 2rem;
    animation: wrong_password 10s infinite;
    @keyframes wrong_password {
        0% {
          opacity: 0.5;
          color: #04486a;
          transform: rotate(3deg);
        }
        25% {
          opacity: 1;
          color: white;
          transform: rotate(-3deg);
        }
        50% {
          opacity: 0.5;
          color: #04486a;
          transform: rotate(3deg);
        }
        75% {
          opacity: 1;
          color: white;
          transform: rotate(-3deg);
        }
        100% {
          opacity: 0.5;
          color: #04486a;
          transform: rotate(3deg);
        }
      }
  }

.login-container {
    @include flex-column;
    background: #04486a;
    height: 280px;
    width: 500px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding-top: 5rem;
    padding-bottom: 0;
    opacity: 80%;
  }

.signup-container {
    @include flex-column;
    background: #04486a;
    height: 540px;
    width: 500px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    padding-top: 5rem;
    opacity: 80%;
  }

.form {
    @include flex-column;
    .box {
        width: 300px;
        padding: 5px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        &__name {
            color: white;
          }
        &__submit {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            box-shadow: $box-shadow;
            margin-top: 15px;
            &:hover {
                background: black;
                color: white;
                border: 1px solid red;
              }
          }
      }
    input[type='text'],
    input[type='email'],
    input[type='password'] {
        font-size: 1.5rem;
        padding: 1rem;
    }
    #register{
        font-size: $font;
        font-weight: 600;
        cursor: pointer;
      }
  }

.account-container{
    @include flex-column;
    border: 2px solid transparent;
    background: linear-gradient(37deg, #dcdcff, #ffffd1, #ffffff);
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    margin: 0.3rem;
    transition: 1s;
    padding: 0.5em {
      bottom: 0.05rem;
    }
    &-data{
        display: flex;
        &__info{
            @include flex-column;
            padding: 0.25rem;
          }
      }
    &__button{
        white-space: pre-line;
        border-radius: 50%;
        height:4rem;
        width: 4rem;
        color: rgb(197, 0, 0);
        border: 4px white solid;
        transition: 1s;
        cursor: pointer;
        &:hover{
            color: white;
            background: black;
            border: 4px solid red;
          }
        &__dis{
          color: gray;
          white-space: pre-line;
          border-radius: 50%;
          height:4rem;
          width: 4rem;
          border: 4px white solid;
          transition: 1s;
          pointer-events: none;
          }
        }
  }
