@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: url(./images/background.jpg);
  background-size: cover;
}

.outer-container {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* flex-flow: row wrap; */
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
}

.container{
  margin: auto;
}

.container ul{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* justify-content: center;
  align-items: center; */
  flex-wrap: wrap;
  list-style: none;
  
}

.account-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  background: linear-gradient(37deg, #dcdcff, #ffffd1, #ffffff);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  margin: 0.3rem;
  padding: 0.5em;
  padding-bottom: 0.05rem;
  transition: 1s;
}

.account-container:hover{
  border: 2px solid red;
}

.account-container form{
  display: flex;
  justify-content: center;
  width: 100%;
}

.account-container form input[type="button"]{
  font-size: 1.0rem;
  color: rgb(201, 0, 0);
  height: 2rem;
  cursor: pointer;
  width: 80%;
}

.registrant-info {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

.data{
  display: flex;
}

.data-info{
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}


#button{
  white-space: pre-line;
  border-radius: 50%;
  height:4rem;
  width: 4rem;
  color: rgb(197, 0, 0);
  border: 4px white solid;
  transition: 1s;
  cursor: pointer;
}

#button:hover{
  color: white;
  background: black;
  border: 4px solid red;
}