{% extends "some_app/base_template.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static './some_app/login_page.css' %}">
    <div class="login-container">
        <form action="" class="form" method="post">
            {% csrf_token %}
            <label class="box__name" for="username">Username</label>
            <input class="box" type="text" autocomplete="off" id="username" name="username">

            <label  class="box__name" for="password">Password</label>
            <input class="box" type="password" autocomplete="off" id="password" name="password">

            <input class="box__submit" id=register type="submit" value="Login">
        </form>
    </div>
{% endblock %}