{% extends "some_app/base_template.html" %}
{% load static %}
    {% block content %}
    <div class="todo-container">
    {% for todo in to_do_list %}
    <div class="todo-button">
            <form id="todoForm" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for={{todo.id}}>
            <input class="todo__checkbox" type="submit" id={{todo.id}} name="done_or_not" value="{{todo.done_or_not}}">
            {% if todo.done_or_not == done_or_not.1 %}
            <span class="move-button task-done"></span>
            {% elif todo.done_or_not == done_or_not.0 %}
            <span class="move-button task-notDone"></span>
            {% endif %}
            </label>
            </form>
        
        <span class="todo-container__item">{{ todo.to_do_message }}</span>
        <span class="todo-container__delete">
            <form action="" method="post">
            {% csrf_token %}
            <input class="hidden" value={{todo.id}} type="text" name="id_to_delete">
            <input type="image" class="todo-container__delete__img" alt="Delete" src="{% static 'some_app/images/delete.jpg' %}">
            </form>
        </span>
    </div>
    {% endfor %}
    {% if errors %}
    {% for error in errors %}
    <span class="add-todo-container__title">{{error}}</span>
    {% endfor %}
    {% endif %}
</div>
<div class="add-todo-container">
    <span class="add-todo-container__title">Add a To-Do into the list:</span>
    
<form action="" method="post">
    {% csrf_token %}
    <label class="add-todo-container__label" for="content">
        <input class="add-todo-container__label__content" type="text" id="content" name="content" maxlength="25">
    </label>
    <label for="add-todo">
        <input class="hidden" type="submit" id="add-todo" name="add-todo">
        <span class="add-todo-container__add__pic"></span>
    </label>
</form>
</div>
<div class="todo-add-activator"></div>
<div class="backdrop"></div>
    <script type="text/javascript" src="{% static './some_app/to_do_list.js' %}"></script>
    {% endblock %}